* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 25px 15px 10px;
    height: 100vh;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #0064003d;
    padding: 10px 50px;
}
.title {
    font-size: 25px;
    margin: 10px;
    color: #0c8637;
}
.currency-flags {
    display: flex;
    justify-content: space-around;
}
.currency-flags img {
    width: 50px;
}
.currency-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.currency-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.currency-box {
    display: flex;
}
.currency-box p {
    margin-right: 10px;
}
#text {
    height: 60px;
}
#text p {
    color: red;
    font-size: 14px;
}
form {
    width: 25%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
select, option {
    font-size: 16px;
    padding: 2px 5px;
    border: 2px solid #0064003d;
    border-radius: 10px;
    box-shadow: -1px 4px 6px grey;
}
input {
    display: block;
    border: 2px solid #0064003d;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
    margin-right: 2px;
}

input:focus, select:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
}
select:hover {
    color: green;
    font-weight: bolder;
    cursor: pointer;
}
.results-holder div {
    width: fit-content;
    text-align: center;
    margin-bottom: 5px;
    background-color: floralwhite;
    border: 2px solid #0064003d;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
}
.error {
    font-size: 21px;
    position: absolute;
    top: 20%;
    left: 37%;
    background: white;
    width: 320px;
    padding: 10px;
    text-align: center;
    border: 1px dashed red;
    border-radius: 10px;
}
.loader {
    width: 80px;
    height: 80px;
    border: 8px solid transparent;
    border-top: 8px solid #0c8637;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 50%;
}

.spin {
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% {
        transform: rotate(360deg);
    }}

.footer {
    width: 100%;
    background-color: #0c8637;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 10px;
    align-items: baseline;
    color: white;
    font-size: 15px;
}
.contact {
    padding: 10px 7px;
    border: 1px solid white;
    border-radius: 10px;
}
.contact:hover, .contact:active {
    cursor: pointer;
    background-color: white;
    color: #0c8637;
    transition: background-color, color, box-shadow;
    transition-duration: .2s;
    font-weight: bolder;
    transform: translateY(1px);
    box-shadow: 1px 1px 16px white;
}
.modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
}
.modal-container {
    background-color: white;
    width: 50%;
    min-height: 25%;
    padding: 10px 15px;
    margin: 15% auto 0;
    line-height: 1.4;
}
.closer {
    position: relative;
    right: -95%;
    border: 2px solid #0064003d;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
}
.closer:hover, .closer:active {
    color: green;
    font-weight: bolder;
    cursor: pointer;
    transform: scale(1.1);
}
.question {
    margin: 5px 0 30px 12px;
}
.modal-layer {
    display: none;
}
.modal-container a {
    text-decoration: none;
    border: 2px solid #0064003d;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
    color: black;
    font-weight: bolder;
    margin-left: 10px;
}
.modal-container a:hover, .modal-container a:active {
    cursor: pointer;
    background-color: #0c8637;
    color: white;
    transition: background-color, color, box-shadow;
    transition-duration: .2s;
    font-weight: bolder;
    transform: translateY(1px);
}
@media screen and (max-width: 960px){
    .currency-wrapper {
        flex-direction: column;
    }
    .currency-wrapper p {
        margin: 10px 0 5px;
        text-align: center;
    }
    .modal-container {
        width: 65%;
        min-height: 28%;
        margin-top: 30%;
    }
}
@media screen and (max-width: 780px) {
    .modal-container {
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .title, .currency-box p, #text, #text p, select, option, .results-holder div {
        font-size: 1.1rem;
    }
    .container {
        width: 100%;
        padding: 12px 20px;
    }
    .currency-container {
        margin-bottom: 35px;
    }

    .modal-container, .modal-container .title {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 680px){
    .currency-box p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 590px){
    .currency-container {
        justify-content: flex-start;
        flex-direction: row;
    }
    .currency-flags, .currency-box {
        flex-direction: column;
    }
    .currency-box {
        width: 100%;
    }
    .currency-box p {
        font-size: 1.1rem;
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }
    .currency-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .modal-container {
        margin-top: 50%;
        width: 95%;
        min-height: 28%;
    }
    .closer {
        right: -93%;
    }
    .question {
        margin-bottom: 10%;
    }
    .modal-container a {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 475px){
    .modal-container, .modal-container .title {
        font-size: 1.4rem;
    }
    .modal-container {
        min-height: 40%;
    }
}
@media screen and (max-width: 360px){
    .header {
        padding: 3px;
    }
}



