* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
.wrapper {
    width: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 25px 15px 10px;
    height: 90vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #0064003d;
    padding: 10px 15px;
}
.title {
    font-size: 25px;
    margin: 10px;
    color: #0c8637;
}
.currency-flags {
    display: flex;
    justify-content: space-around;
}
.currency-flags img {
    width: 50px;
}
.currency-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.currency-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.currency-box p {
    margin-right: 10px;
}
form {
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
select, option {
    font-size: 16px;
    padding: 2px 5px;
    border: 2px solid #0064003d;
    border-radius: 10px;
    box-shadow: -1px 4px 6px grey;
}
input {
    display: block;
    border: 2px solid #0064003d;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
}

input:focus, select:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;

}
.results-holder {

}
.results-holder div {
    width: fit-content;
    text-align: center;
    margin-bottom: 5px;
    background-color: floralwhite;
    border: 2px solid #0064003d;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: -1px 4px 6px grey;
}